<div class="modal" id="reportModal">
    <button class="modal-close" onclick="closeReportModal()">X</button>
    <div id="reportContent">Loading...</div>

    <div id="reportConfirmBox" class="confirm-box">
        <p id="reportConfirmText"></p>
        <div class="confirm-actions">
            <button onclick="confirmReportSubmit()" class="btn-confirm-yes">Haan , mai soch samajh ke rport kar raha/rahi hoon</button>
            <button onclick="cancelReportConfirm()" class="btn-confirm-no">Cancel</button>
        </div>
    </div>
</div>