<h2>Report</h2>
    <div class="report-options">
        <button type="button" class="report-tag" onclick="selectReportTag(this, 'abuse')">Abuse</button>
        <button type="button" class="report-tag" onclick="selectReportTag(this, 'personal_attack')">Personal Attack</button>
        <button type="button" class="report-tag" onclick="selectReportTag(this, 'engagement_bait')">Engagement Bait</button>
        <button type="button" class="report-tag" onclick="selectReportTag(this, 'useless_talk')">Useleas Talk</button>
        <button type="button" class="report-tag" onclick="selectReportTag(this, 'others')">Others</button>
    </div>